.container {
  @include containerSize;
  @include containerPosition;
  @include containerColors;
  @include containerShape;
}

.top_section {
  @include topContainerPositions;
}

.top_section_inside {
  @include fontHeading;
  text-align: center;
  justify-content: center;
  font-size: 1.2em;
  height: 100%;
  border: rgb(228, 228, 228) 1px solid;
  border-radius: 10px 10px 0px 0px;
  h3 {
    margin-bottom: 2%;
  }
}
